@model GestionServiceBatiment.ASP.Models.Categories.Category

@{
    ViewBag.Title = "Delete";
}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Listes des catégories</h2>
                <ol>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Catégories", "Index", "Category")</li>
                    <li>Confirmation de la Suppression</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Service Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <h3>Êtes-vous sûr de vouloir supprimer cette catégorie?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Supprimer" class="btn-sm btn-create" /> |
                        @Html.ActionLink("Retour à la liste", "Index")
                    </div>
                }
            </div>
        </div>
    </section>
</main>