@model GestionServiceBatiment.ASP.Models.Companies.DisplayCompany

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DisplayCompany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressMailBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressMailBox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
